.container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin: 2rem auto 6rem;
  max-width: 1000px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-family: var(--font-serif);
  font-size: 1.15rem;
  color: #111;
}

.iconWrapper {
  color: #111;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    gap: 3rem;
  }
  .feature {
    width: 40%;
  }
}
